.bottomFooter{
    background-color: #fff;
    position: static;
    bottom: 0;
}

.bottomFooter h1{
    text-align: left;
    font-size: 12px;
    margin: 0;
    padding: 10px 0 10px 0;
    border-top: solid 2px white;
    color: #333;
    padding: 20px;
    font-weight: bold;
    /* background-color: #fff; */
}