.productsListBox{
    min-height: 600px;
}

.dropDownBox{
    margin: 15px;
}


.productsListBox h1.header {
    color: white;
    background: #00bec8;
    padding: 20px 0px;
}

.listbutton{
    background-color: #00bec8;
    border: none;
    border-radius: 0px;
    width: 100%
}


.listbutton:hover{
background-color: #00a2aa !important;
}

.dropdown-menu{
    width:100%
}
.dropdown-menu li{
    text-align: center
}