.userPageBox{
    min-height: 600px;
}

.userPageBox h1.header {
    color: white;
    background: #00bec8;
    padding: 20px 0px
}

li a {
    color: #777;
}

#uncontrolled-tab ul {
    padding: 0px 10px
}